@import "tailwindcss";


@theme {
  --color-puroquilmes-50: oklch(0.967 0.016 319.58);
  --color-puroquilmes-100: oklch(0.934 0.032 319.52);
  --color-puroquilmes-200: oklch(0.869 0.064 319.5);
  --color-puroquilmes-300: oklch(0.804 0.098 319.49);
  --color-puroquilmes-400: oklch(0.732 0.139 320.3);
  --color-puroquilmes-500: oklch(0.669 0.177 320.69);
  --color-puroquilmes-600: oklch(0.601 0.178 321.4);
  --color-puroquilmes-700: oklch(0.528 0.157 321.28);
  --color-puroquilmes-800: oklch(0.456 0.136 321.1);
  --color-puroquilmes-900: oklch(0.296 0.088 321.05);
  --color-puroquilmes-950: oklch(0.224 0.066 320.96);
}

.register-input{
  @apply bg-puroquilmes-100 p-2
}